:root {
  --fontFamily: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --background: #42B4CA;
  --yellow: #C9E35A;
  --black: #000;
  --white: #fff;
  --gray: #cecece;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;
}

.title {
  font-family: var(--fontFamily);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  margin: 1rem 0;
}